@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

html{
    //position: relative;
    //min-height: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    
}

body {
    display: flex;
    flex-direction: column; }

main{
    margin-bottom: 0;
    
}

footer.footer{
    //padding: 15px;
    //position: absolute;
    //bottom: 0;
    //width: 100%;

    padding-top: 20px;
        }
        .footer-container {
            background-color: #343a40;
            color: white;
            padding: 20px 0;
        }
        .container-fluid {
            padding: 0;
}

p{
    font-family: $font-family-serif;
    font-size: 16px;
}

h1{
    font-family: $font-family-sans-serif;
    font-size: 48px;
}

h2{
    font-family: $font-family-sans-serif;
    font-size: 30px;

}

.Bigtitle-image{
    position: relative;
    &::before{
        content:"";
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-image: url(../Images/Bigtitle-image.jpg);
        background-size: cover;
        filter: brightness(0.8);
    }
    *{ //positionner les élements devant le ::before
        position: relative;
    
    }
    
    .Bigtitle-image-content{
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
}

.text-justify{
    text-align: justify;
}

.image-card{
    position: relative;
    &:hover{
      .titre-image,
      .action-image-buttons{
        opacity: 1;
      }
      img{
        filter: brightness(0.3);
      }

    }

    img{
        transition: all 0.3s;

    }

    .titre-image{
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }

    .action-image-buttons{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        padding: 5px;
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        opacity: 0;
        transition: all 0.3s;
    }

}

.form-label{
    color: $primary;
}

.text-right {
    text-align: right;
    transition: all 0.3s;
    font-family: $font-family-serif;
    font-size: 18px;
    color: #354F52;
  }
  
  .underline {
    text-decoration: underline;


  }
  